@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border text-neutral-200;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

canvas {
  touch-action: none;
  user-select: none;
}
